.Navbar nav {
    background: #f2f2ff;
    color: rgb(89, 88, 88);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

a {
    text-decoration: none;
    color: rgb(89, 88, 88);
}

a:hover {
    text-decoration: underline rgb(89, 88, 88);
}

.active a {
    color: blueviolet;
}

ul {
    margin: 0;
}

ul li {
    display: inline;
    list-style: none;
    line-height: 1.5;
    padding-left: 30px;
}